# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# .flutter-plugins
# .flutter-plugins-dependencies

# Android / Main
android/.gradle/
android/local.properties
android/**/key.properties
android/**/*.jks
android/**/*.keystore

# IOS - wird aber nicht gebraucht
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/

macos/Pods/
macos/Flutter/ephemeral/
macos/Runner/GeneratedPluginRegistrant.*

# Windows/Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDEs / OS
.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.log
